<!doctype html>
<html ng-app="demo">
<head>
<title>Hello AngularJS</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="messages.js"></script>
<link rel="stylesheet"
	href="/CrunchHelloWorld/resources/bootstrap/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>
</head>
</head>

<body class="container">
	<h2>Add a message</h2>

	<div ng-controller="MsgCtrl" class="container">
		<form>
			<div class="form-group">
				Name: <input type="text" class="form-control" ng-model="newMsg.sender"/> <br />
			</div>
			<div class="form-group">
				Message:
				<textarea rows="4" cols="50" class="form-control" ng-model="newMsg.message"></textarea>
				<br />
			</div>
			<!-- submit button is not bind to the model-> makes sense :) -->
			<!-- old submit button, replace it by bootstrap button
		<input type="submit" value="Add" /> -->
			<button type="submit" class="btn btn-default" ng-click="save()">Add</button>
		</form>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/CrunchHelloWorld/resources/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>