<!doctype html>
<html ng-app="demo">
<head>
<title>Messages Control Center</title>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/CrunchHelloWorld/resources/bootstrap/js/bootstrap.min.js"></script>

<!-- Angular.js -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<!-- NGResource -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>
<!-- NGRoute -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="messages.js"></script>

<link rel="stylesheet"
	href="/CrunchHelloWorld/resources/bootstrap/css/bootstrap.min.css">

</head>
</head>

<body>


	<div class="container">
		<h2>All messages</h2>
		
		<div>
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-user" ng-click="login()" title="Login"></span>
			</button>

		</div>
		<div ng-view>
		
		</div>
		<!-- here was the original code for the message table -->
		
		<!-- the modal window for message details-> only need one as we update the selected user  -->
		<div class="modal fade" id="modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title">Message</h3>

					</div>
					<div class="modal-body">
						<h4>Raw JSON</h4>
						<p>
							<code>{{currentMessage}}</code>
						</p>
						<h4>Formatted message</h4>
						<p>
							From <strong>{{currentMessage.sender}}</strong>, sent on
							{{currentMessage.date| date:'MMM d, y H:mm:ss'}} <br /> <br />
							{{currentMessage.message}}
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<div ng-controller="UserCtrl" class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Username</th>
					<th># Messages</th>
				</tr>
			</thead>
			<tbody>

				<tr
					ng-repeat="user in users track by user.id">
					<td>{{ user.id }}</td>
					<td>{{user.userName}}</td>
					<td>{{user.messages.length}}</td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>