
<div>
	<label for="readSelect">Filter:</label> <select
		class="form-control col-md-4" id="readSelect"
		data-ng-model="readSelect" ng-init="readSelect='false'">
		<option value="">All</option>
		<option value="false">Unread</option>
		<option value="true">Read</option>

	</select>
</div>
<!--  <textarea rows="1" cols="10" ng-bind="readSelect"></textarea>-->
<div>
	Now showing <span class="badge">{{(messages|filter
		:{read:readSelect}).length}}</span> messages.

</div>
<div class="btn-group">
	<button type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-edit" data-toggle="modal"
			data-target="#addModal" ng-click="addMessage()" title="Add a message"></span>
	</button>
	<button type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-refresh" ng-click="refresh()"
			title="Refresh"></span>
	</button>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>User</th>
			<th>Preview</th>
			<th>Read?</th>
			<th>Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		<tr
			ng-repeat="msg in messages|filter :{read:readSelect}| orderBy:'-date' track by msg.id">
			<td>{{ msg.id }}</td>
			<td>{{msg.user.userName}}</td>
			<td>{{msg.message | limitTo:10}}</td>
			<td>{{msg.read}}</td>
			<td>{{ msg.date | date:'MMM d, y H:mm:ss' }}</td>
			<td>
				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#modal" ng-click="viewMessage(msg)">View
					Message</button>
			</td>
		</tr>

	</tbody>
</table>


<!-- the modal window for a new message-->
<div class="modal fade" id="addModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Add message</h3>

			</div>
			<div class="modal-body">
				<form class="form-horizontal" name="newMsgForm">
					<!-- path refers to the field -->
					<div class="form-group">
						<label class="col-sm-2 control-label" for="newSender">Name:</label>
						<div class="col-sm-10">
							<input name="newSender" class="form-control"
								ng-model="newMsg.sender" ng-minlength="5" required /> <span
								class="alert-danger"
								ng-show="newMsgForm.newSender.$error.minlength || newMsgForm.newSender.$error.required">
								Name is required and must have a minimal length of 5 characters.
							</span>

						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="newMsg">Message:</label>
						<div class="col-sm-10">
							<textarea rows="4" cols="50" class="form-control col-sm-10"
								name="newMsg" ng-model="newMsg.message" ng-minlength="10"
								required></textarea>
							<span class="alert-danger"
								ng-show="newMsgForm.newMsg.$error.minlength || newMsgForm.newMsg.$error.required">
								Message is required and must have a minimal length of 10
								characters. </span>

						</div>



					</div>


					<form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" ng-click="addMsg()"
					data-dismiss="modal">Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Message</h3>

			</div>
			<div class="modal-body">
				<h4>Raw JSON</h4>
				<p>
					<code>{{currentMessage}}</code>
				</p>
				<h4>Formatted message</h4>
				<p>
					From <strong>{{currentMessage.sender}}</strong>, sent on
					{{currentMessage.date| date:'MMM d, y H:mm:ss'}} <br /> <br />
					{{currentMessage.message}}
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>